#ignore files
plot_scores/plot_scores/all_dir_names.txt
plot_scores/
plot_scores/*txt
models/*
*~
*.zip
results/*
rank_files/*
figure/*.png
figure/*.npy
test.py
a.sh
b.sh
test0.sh

#ignore directories
__pycache__/
runs/
results/
